@charset "UTF-8";
html, body {width:100%; margin:0; padding:0; font-family:"Helvetica Neue", Helvetica, sans-serif; background:#000}
body {position:relative}
#carousel {
	background-color: #C0F;
	height: 100%;
	width: 100%;
}
#carousel div {height:100%; width:100%; float:left}
#p1 {background:#0F0}
#p2 {background:#F00}
#p3 {background:#00F}

.current_page{width:800px; height:1280px; position:absolute; left:0; -webkit-transform: translateZ(0);}
.next_page {width:800px; height:1280px; position:absolute; z-index:-100; -webkit-transform: translateZ(0); transform: translateZ(0); -moz-transform: translateZ(0);}

.button {width:200px; border:#FFF solid 10px; margin:150px auto; text-align:center; line-height:200px; color:#FFF; font-weight:bold; font-size:24px; border-radius: 20px; 
-moz-border-radius: 20px; 
-webkit-border-radius: 20px;}

.hidden {display:none}
.content {width:800px; height:1280px}
.homepage {background:#b11d64}

.nav_bar {width:100%; height:50px; background:#333}
.nav_btn {background:#CCC; margin:0 auto; width:100px; line-height:50px; text-align:center}