<div class="content homepage">
  <div style="margin:0; height:1px"></div>
  <div class="button" id="homeBtn1">Visit our website</div>
  <div class="button" id="homeBtn2">Buyers Guide</div>
  <div class="button" id="homeBtn3">Latest Product</div>
</div>
